/* Simon Game (style.css) */

body {
  text-align: center;
  background-color: azure;
}

h1 {
  font-family: 'Black Ops One', cursive;
  font-size: 50px;
  color: sienna;
}

.btn-play {
  font-family: monospace;
  font-size: 20px;
  letter-spacing: 10px;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  background: black;
  cursor: pointer;
}

.hide-button {
  visibility: hidden;
}

.btn {
  margin: 20px;
  display: inline-block;
  height: 210px;
  width: 210px;
  border: 5px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.pressed {
  box-shadow: 10px 10px 100px black;
}

.game-over {
  background-color: salmon;
  opacity: 0.5;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

footer {
  font-size: 25px;
}

/* Media Queries */
@media (max-width: 768px) {

  .btn {
    height: 190px;
    width: 190px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }

  .btn {
    height: 110px;
    width: 110px;
  }

  footer {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 25px;
  }

  .btn-play {
    font-size: 10px;
  }

  .btn {
    height: 70px;
    width: 70px;
  }

  footer {
    font-size: 10px;
  }
}
